* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}

.wrapper {
    height: 120px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.car {
    width: 66%;
    position: absolute;
    right: 0;
    height: 120px;
    background-image: url(../img/01.jpg);
    background-size: cover;
    z-index: 1;
    background-position: left;
}


.red {
    z-index: 2;
    background-position: right;
    width: 66%;
    position: absolute;
    height: 120px;
    background-image: url(../img/02.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.name {
    background-image: url(../img/04.png);
    height: 100%;
    width: 15%;
}

.time {
    background-image: url(../img/05.png);
    height: 100%;
    width: 25%;
}

.viva {
    background-image: url(../img/03.png);
    height: 100%;
    width: 25%;
}
