:root {
    --bannerWidth: 120px;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
}
button {
    z-index: 100;
    position: absolute;
    top: 5px;
    right: 5px;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    width: 35px;
    height: 35px;
    border: none;
    color: white;
    outline: none;
}

.link {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    z-index: 5;
}

.wrapper {
    height: var(--bannerWidth);
    width: 100%;
    position: relative;
    /*display: flex;*/
    /*justify-content: space-between;*/
    overflow: hidden;
}

.car {
    width: 50%;
    position: absolute;
    right: 0;
    height: var(--bannerWidth);
    background-image: url(../img/01.jpg);
    z-index: 1;
    background-position: left;
}


.red {
    z-index: 2;
    background-position: right;
    width: 66%;
    position: absolute;
    height: var(--bannerWidth);
    background-image: url(../img/02.png);
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 150px 0 1rem;
}


.name {
    background-image: url(../img/04.png);
    height: 100%;
    width: 15%;
}

.time {
    background-image: url(../img/05.png);
    height: 100%;
    width: 25%;
}

.viva {
    background-image: url(../img/03.png);
    height: 100%;
    width: 25%;
}

.imgName {
    animation: nameAnimation 2.3s;
    animation-iteration-count: infinite;
}


.imgTime1 {
    animation: time1Animation 2.3s;
    animation-iteration-count: infinite;
}

.imgTime2 {
    animation: time2Animation 2.3s;
    animation-iteration-count: infinite;
}

.imgViva {
}


@media screen and (min-width: 1500px)   {
    :root {
        --bannerWidth: 120px;
    }
    .car {
        background-position: 101% 0;
        width: 162%;
    }
    .red {
        background-position: 96% 0%;
        width: 76%;
        padding: 0 80px 0 1rem;
    }
}


@media screen and (min-width: 992px)  and (max-width: 1500px)   {
    :root {
        --bannerWidth: 120px;
    }
    .imgName {
        height: 3.3rem;
        margin: 2px;
    }

    .imgTime {
        display: inline-flex;
        margin: 2px;
        text-align: center;
    }

    .imgTime1 {
        height: 2.2rem;
    }

    .imgTime2 {
        height: 2.2rem;
    }

    .imgViva {
        height: 2.2rem;
        margin: 2px;

    }

    .car {
        background-position: 108% 0;
        width: 162%;
    }

    .red {
        background-position: 96% 0%;
        width: 76%;
        padding: 0 80px 0 1rem;
    }
}




@media screen and (min-width: 768px)  and (max-width: 992px)   {
    :root {
        --bannerWidth: 80px;
    }
    .imgName {
        height: 2.6rem;
        margin: 2px;
    }

    .imgTime {
        display: inline-flex;
        margin: 2px;
    }

    .imgTime1 {
        height: 1.7rem;
    }

    .imgTime2 {
        height: 1.7rem;
    }

    .imgViva {
        height: 1.7rem;
        margin: 2px;

    }

    .car {
        width: 200%;
        background-position: 125% 0%;
    }

    .red {
        background-position: 96% 0%;
        width: 78%;
        padding: 0 80px 0 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
    :root {
        --bannerWidth: 80px;
    }
    .imgName {
        height: 2.6rem;
        margin: 2px;
    }

    .imgTime {
        display: inline-flex;
        margin: 2px;
        text-align: center;
    }

    .imgTime1 {
        height: 1.2rem;
    }

    .imgTime2 {
        height: 1.2rem;
    }

    .imgViva {
        height: 1.2rem;
        margin: 2px;

    }

    .car {
        background-position: -26% 0%;
        background-size: auto 100%;
    }

    .red {
        background-position: 96% 0%;
        width: 78%;
        padding: 0 80px 0 1rem;
    }
}

@media screen and (max-width: 576px) {
    :root {
        --bannerWidth: 80px;
    }

    .imgName {
        height: 2rem;
        margin: 2px;
    }

    .imgTime {
        display: inline-flex;
        margin: 2px;
    }

    .imgTime1 {
        height: 0.9rem;
    }

    .imgTime2 {
        height: 0.9rem;
    }

    .imgViva {
        height: 0.9rem;
        margin: 2px;

    }

    .car {
        background-position: 26% 0%;
        background-size: auto 100%;
    }

    .red {
        background-position: 96% 0%;
        width: 84%;
        padding: 0 80px 0 1rem;
    }
}

@media screen and (max-width: 400px) {
    :root {
        --bannerWidth: 80px;
    }
    .imgTime {
        display: block;
    }
}

@keyframes nameAnimation {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 0.33;
    }
    20% {
        opacity: 0.66;
    }
    30% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes time1Animation {
    0% {
        transform: translateY(-100px);
    }
    30% {
        transform: translateY(-100px);
        opacity: 0.4;
    }
    75% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes time2Animation {
    0% {
        transform: translateY(+100px);
    }
    30% {
        transform: translateY(+100px);
        opacity: 0.4;
    }
    70% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(0px);
    }
}
